*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.container{
   /* width: 1200px;*/
    display: flex;
    height: 100vh;
    
}
.result{
    background-color: blueviolet;
    width: 50%;
    border-radius: 10px;
    margin: 0px 0px 1px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result>h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: rgb(185, 196, 205);
    margin: 10px;
    font-size: 1.5rem;
}
.score{
    background-color: rgba(4, 4, 106, 0.655);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.score>h3{
    color: white;
    font-size: 7rem;
    margin-bottom: 0px;
    
    

}
.score>p{
    color: #eee;
    margin-top: 0px;
    
}
.result>h2{
    color: white;
    margin: 15px;
    font-size: 2.5rem;

}
.result>p{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 0px 1px;
}
.summary h3{
    margin: 10px;
    font-size: 2rem;
    text-align: left;
    margin: 20px 5px ;
    font-weight: bold;
}

.icons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.summary-list{
    list-style: none;
    padding-left: 10px;

}

li{
   
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px ;
    border-radius: 9px;
    margin: 35px 35px 35px 35px;
}
#reaction{
    color: red;
    font-size: 1.25rem;
    
}
.summary-list p{
    font-size: 1rem;
    font-weight: bold;
    color:black;
}
.summary-list span{
    font-size: 1rem;
    font-weight: bold;
    color:rgb(100, 88, 88);
}
#memory{
    color: rgb(255, 132, 0);
    font-size: 1.25rem;
    
}
#verbal{
    color: rgb(2, 161, 2);
    font-size: 1.25rem;

}
#visual{
    color: rgb(8, 8, 158);
    font-size: 1.25rem;
}
.color1{
    background-color: #e8101046;

}
.color2{
    background-color:rgba(255, 255, 0, 0.226) ;

}
.color3{
    background-color: rgba(0, 128, 0, 0.153);
}
.color4{
    background-color: rgba(0, 0, 255, 0.162);
}
button{
    margin: 25px 10px;
    border-radius: 25px;
    padding: 10px 45px;
    background-color: rgb(78, 65, 65);
    color: #fff;
    border: 1px solid transparent;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
    border: 1px solid white;
}

